name: Build

env:
  PYTHON_VERSION: '3.11'

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: 'requirements.txt'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install PyInstaller
        run: pip install pyinstaller
        
      - name: Build executable
        run: |
          python -m PyInstaller --noconsole --onedir --name "vry" --add-data "vry-gui.html;." --add-data "assets;assets" --add-data "src;src" --icon=assets/Logo.ico --collect-all webview --collect-all websocket_server launcher.py
      - name: Compile Inno Setup installer
        run: |
          iscc installer.iss
      - name: Zip portable build
        run: Compress-Archive -Path dist\vry\* -DestinationPath dist\vry-${{ github.ref_name }}-portable.zip
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/vry-${{ github.ref_name }}-setup.exe
            dist/vry-${{ github.ref_name }}-portable.zip
          body_path: .github/RELEASE_TEMPLATE.md
          draft: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}